html {
  height: 100%; }

body {
  background: url(../Music-Stage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-header {
  background-color: #fee898;
  padding-left: 2%;
  margin-bottom: 0;
  margin-top: -1%;
  padding-top: 1%;
  border-bottom: none;
  color: #121312; }

.container-fluid {
  background-color: rgba(136, 186, 164, 0.8);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1%; }

footer {
  flex: 1;
  width: 100%;
  background-color: rgba(254, 232, 152, 0.9);
  height: 7%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold; }

H1 small {
  color: #121312; }

table {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: row; }

td {
  padding: 10px 0; }

tr {
  border-bottom: solid 1px black;
  font-size: 110%;
  padding: 10px 0; }

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold; }

aside {
  display: none;
  height: 500px;
  overflow: scroll;
  margin-top: 1%;
  width: 50%; }

@media only screen and (max-width: 1100px) {
  aside {
    width: 90%; } }

@media only screen and (max-width: 1024px) {
  aside {
    width: 90%; } }

@media only screen and (max-width: 400px) {
  aside {
    width: 90%; } }

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

#map {
  display: none;
  width: 600px;
  height: 500px;
  background-color: #5da36d;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%; }

#directions {
  margin: 0 2%; }

@media only screen and (max-width: 1100px) {
  #map {
    width: 700px; }
  section {
    flex-direction: column; } }

@media only screen and (max-width: 800px) {
  #map {
    width: 600px; } }

@media only screen and (max-width: 550px) {
  #map {
    width: 380px;
    height: 380px; } }

@media only screen and (max-width: 400px) {
  #map {
    width: 340px;
    height: 340px; } }

nav, #mainAppend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3%; }

navigation {
  width: 30%; }

input, button {
  width: 100%;
  padding: 3%;
  margin: -0.5%;
  font-size: 150%;
  outline: none;
  border: solid 1px #545454; }

input {
  background-color: #fbfbfb; }

#mainAppend td {
  font-size: 140%;
  height: 30%; }

.fa-reorder {
  display: none;
  font-size: 250%; }

.happening {
  font-size: 100%;
  padding: 1.5%;
  width: 200px; }

.burgerTime {
  margin-top: -1%;
  margin-left: -5%;
  padding-left: 5%; }

@media only screen and (max-width: 800px) {
  navigation {
    width: 60%; } }

@media only screen and (max-width: 600px) {
  navigation {
    width: 80%; } }

@media only screen and (max-width: 480px) {
  navigation {
    width: 80%; } }
