html {
  height: 100%; }

body {
  background: url(../2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid black;
  padding-left: 2%;
  margin-bottom: 0;
  margin-top: -1%;
  padding-top: 1%;
  text-align: center; }

.container-fluid {
  color: #88baa4;
  background-color: rgba(136, 186, 164, 0.6);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1%; }

footer {
  flex: 1;
  width: 100%;
  background-color: #ffffff;
  height: 7%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
  border-top: 1px solid black;
  color: #1F2124; }

body {
  font-family: 'Ubuntu Condensed', sans-serif; }

.date {
  color: #F6B352; }

input, button {
  color: #1F2124; }

#mainAppend {
  font-size: 130%; }

.after {
  background-color: white; }

div {
  color: #1F2124; }

#footerLink {
  color: #1F2124; }

table {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: row; }

td {
  padding: 10px 0; }

th:hover {
  color: #831a1a; }

#table tr {
  border-bottom: solid 1px black;
  font-size: 160%;
  color: #88baa4; }

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #F6B352;
  font-weight: bold; }

aside {
  display: none;
  height: 500px;
  overflow: scroll;
  margin-top: 1%;
  width: 50%; }

.error {
  color: red; }

.time {
  padding-right: 7px; }

@media only screen and (max-width: 1100px) {
  aside {
    width: 90%; }
  #table tr {
    font-size: 150%; } }

@media only screen and (max-width: 1024px) {
  aside {
    width: 90%; }
  #table tr {
    font-size: 140%; } }

@media only screen and (max-width: 400px) {
  aside {
    width: 90%; }
  #table tr {
    font-size: 130%; } }

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2%; }

#map {
  display: none;
  width: 600px;
  height: 500px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%; }

#directions {
  display: none;
  margin: 0 2%;
  padding: 1%;
  background-color: #f4f1f1;
  border-radius: 7px;
  height: 500px;
  overflow: scroll; }

@media only screen and (max-width: 1100px) {
  #map {
    width: 700px; }
  section {
    flex-direction: column; } }

@media only screen and (max-width: 800px) {
  #map {
    width: 600px; } }

@media only screen and (max-width: 550px) {
  #map {
    width: 380px;
    height: 380px; } }

@media only screen and (max-width: 400px) {
  #map {
    width: 340px;
    height: 340px; } }

nav, #mainAppend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3%;
  color: #1F2124; }

input {
  width: 100%;
  padding: 3%;
  margin: -0.5%;
  font-size: 150%;
  outline: none;
  border: solid 1px #545454; }

input[type="submit"] {
  background-color: #F6B352; }

#mainAppend td, #mainAppend th {
  font-size: 140%;
  height: 30%;
  color: #1F2124; }

.myForm {
  width: 400px;
  position: relative;
  margin: 0 auto; }

.danger {
  background-color: #f63636; }

.fa-reorder {
  display: none;
  font-size: 250%;
  color: #F6B352;
  padding-top: 3px; }

.happening {
  font-size: 100%;
  width: 200px; }

.burgerTime {
  margin-top: -1%;
  margin-left: -5%;
  padding-left: 5%; }

@media only screen and (max-width: 800px) {
  .myForm {
    width: 60%; } }

@media only screen and (max-width: 600px) {
  .myForm {
    width: 80%; } }

@media only screen and (max-width: 480px) {
  .myForm {
    width: 80%; } }

iframe {
  height: 100%;
  width: 100%;
  margin-left: 20%; }

#player {
  display: none;
  height: 80px;
  width: 70%; }

#player h3 {
  text-align: center;
  padding-left: 40%; }
