html {
  height: 100%; }

body {
  background: url(https://ryfo.org/wp-content/uploads/2013/11/Music-Stage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-header {
  background-color: rgba(139, 171, 189, 0.7);
  padding-left: 2%;
  margin-bottom: 0;
  margin-top: -1%;
  padding-top: 1%;
  border-bottom: none;
  color: #121312; }

.container-fluid {
  background-color: rgba(211, 222, 230, 0.8);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1%; }

aside {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }

input, button {
  width: 30%;
  padding: 1%;
  margin: -0.5%;
  font-size: 150%; }

footer {
  flex: 1;
  width: 100%;
  background-color: rgba(139, 171, 189, 0.6);
  height: 7%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold; }

H1 small {
  color: #121312; }

table {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: row; }

td {
  padding-left: 2%; }

tr {
  border-bottom: solid 1px black;
  padding-bottom: 1%; }

td a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold; }

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#travel {
  display: none;
  position: absolute;
  left: 61%; }

#map {
  display: none;
  width: 500px;
  height: 500px;
  background-color: #5da36d;
  margin-left: 2%;
  margin-top: 2%; }

@media only screen and (max-width: 800px) {
  #map {
    width: 400px;
    height: 400px; } }
