html {
  height: 100%;
}

body {
  background: url(../Music-Stage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.page-header {
  // background-color: rgba(139, 171, 189, 0.9);
  background-color: rgb(254, 232, 152);
  padding-left: 2%;
  margin-bottom: 0;
  margin-top: -1%;
  padding-top: 1%;
  border-bottom: none;
  // color: rgb(217, 217, 217);
  color: rgb(18, 19, 18);
}

.container-fluid {
  // background-color: rgba(211, 222, 230, 0.8);
  background-color: rgba(136,186,164, 0.8);

  // rgb(84,169,146)
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1%;
}


footer {
  flex: 1;
  width: 100%;
  // background-color: rgba(139, 171, 189, 0.9);
  background-color: rgba(254, 232, 152, 0.9);
  height: 7%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;

}

@media only screen and (max-width: 400px) {

}
