html {
  height: 100%;
}

body {
  background: url(http://ryfo.org/wp-content/uploads/2013/11/Music-Stage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-header {
  background-color: rgba(139, 171, 189, 0.7);
  padding-left: 2%;
  margin-bottom: 0;
  margin-top: -1%;
  padding-top: 1%;
  border-bottom: none;
  // color: rgb(217, 217, 217);
  color: rgb(18, 19, 18);
}

.container-fluid {
  background-color: rgba(211, 222, 230, 0.8);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1%;
}

aside {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  // padding-left: 1.5%;
}

input, button {
  width: 30%;
  padding: 1%;
  margin: - 0.5%;
  font-size: 150%;
}


footer {
  flex: 1;
  width: 100%;
  background-color: rgba(139, 171, 189, 0.6);
  height: 7%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;

}


@media only screen and (max-width: 600px) {
  input, button {
    width: 70%;
  }

}

@media only screen and (max-width: 480px) {
  input, button {
    width: 70%;
  }
}
