html {
  height: 100%;
}

body {
  background: url(../2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.page-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  padding-left: 2%;
  margin-bottom: 0;
  margin-top: -1%;
  padding-top: 1%;
  text-align: center;
}

.container-fluid {
  color:rgb(136,186,164);
  background-color: rgba(136,186,164, 0.6);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1%;
}


footer {
  flex: 1;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 7%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
  border-top: 1px solid black;
  color: #1F2124;
}
