$orange: #F6B352;
$dark: #1F2124;
$backWhite: rgb(255, 255, 255);
$myGreen: rgb(136,186,164);

body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.date {
    color: $orange;
}

input, button {
  color: #1F2124;
}

#mainAppend {
  font-size: 130%;
}

.after {
background-color: rgb(255, 255, 255);
}

div {
  color: $dark;
}

#footerLink {
    color: $dark;
}
