H1 small {

color:#F6B352;

}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

input, button {
  color: #1F2124;
}

#mainAppend {
  font-size: 130%;
  color: rgb(136,186,164);
}

.after {
background-color: rgb(56, 58, 62);

}
