.date {
color:#F6B352;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

input, button {
  color: #1F2124;
}

#mainAppend {
  font-size: 130%;
}

.after {
background-color: rgb(255, 255, 255);
}

div {
  color: #1F2124;
}

#footerLink {
    color: #1F2124;
}
