nav, #mainAppend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3%;
  color: #1F2124;

}

input {
  width: 100%;
  padding: 3%;
  margin: - 0.5%;
  font-size: 150%;
  outline: none;
  border: solid 1px rgb(84, 84, 84);
}

input[type="submit"] {
    background-color: #F6B352;

}

#mainAppend td {
  font-size: 140%;
  height: 30%;
  color: #1F2124;
}


.myForm {
    width: 400px;
    position: relative;
    margin: 0 auto;
}

.danger {
    background-color: rgb(246, 54, 54);
}

.fa-reorder {
  display: none;
  font-size: 250%;
  color:#F6B352;
  padding-top: 3px;

}

.happening {
  font-size: 100%;
  width: 200px;
}

.burgerTime {
  margin-top: -1%;
  margin-left: -5%;
  padding-left: 5%;
}


@media only screen and (max-width: 800px) {
  .myForm {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .myForm {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {

  .myForm {
    width: 80%;
  }
}
