section {
  display: flex;
  flex-direction: row;
}
#map {
  width: 500px;
  height: 500px;
  background-color: rgb(93, 163, 109);
  font-size: 50px;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 2%;
}

@media only screen and (max-width: 800px ) {
  // section {
  //   flex-direction: column;
  // }
  #map {
    width: 400px;
    height: 400px;
  }
}
