section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#travel {
  display: none;
  position: absolute;
  left: 61%;
}

#map {
  display: none;
  width: 500px;
  height: 500px;
  background-color: rgb(93, 163, 109);
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1024px) {
  section{
    flex-direction: column;
  }
  #travel {
    position: flex;

  }
}

// @media only screen and (max-width: 800px ) {
//   // section {
//   //   flex-direction: column;
//   // }
//   #map {
//     width: 400px;
//     height: 400px;
//   }
// }
