section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#map {
  display: none;
  width: 600px;
  height: 500px;
  background-color: rgb(93, 163, 109);
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#directions {
  margin: 0 2%;
}


@media only screen and (max-width: 1100px) {
  #map {
    width: 700px;
  }
  section{
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
#map {
  width: 600px;
  }
}


@media only screen and (max-width: 550px) {
  #map {
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width: 400px) {
  #map {
    width: 340px;
    height: 340px;
  }
}
