section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#map {
  display: none;
  width: 500px;
  height: 500px;
  background-color: rgb(93, 163, 109);
  margin-left: 2%;
  margin-top: 2%;
}

@media only screen and (max-width: 800px ) {
  // section {
  //   flex-direction: column;
  // }
  #map {
    width: 400px;
    height: 400px;
  }
}


///traffic layers.

// var trafficLayer = new google.maps.TrafficLayer();
// trafficLayer.setMap(map);
//
// var transitLayer = new google.maps.TransitLayer();
// transitLayer.setMap(map);
//
// var bikeLayer = new google.maps.BicyclingLayer();
// bikeLayer.setMap(map);
