iframe {
    height: 100%;
    width: 100%;
    margin-left: 20%;
}

#player {
    display: none;
    height:80px;
    width: 70%;
}

#player h3 {
    text-align: center;
    padding-left: 40%;
}

@media only screen and (max-width: 480px) {
    #player h3 {
        width: 100%;
        padding-left: 20%;
    }

}
