table {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: row;
}

td {
  padding-left: 2%;
}

tr {
  border-bottom: solid 1px black;
  padding-bottom: 3%;
}

td a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color:inherit;
  font-weight: bold;
}


@media only screen and (max-width: 1024px) {
  table {
    width: 90%;
  }
}
