table {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: row;
}

td {
  padding: 10px 0;
}

th:hover {
    color: rgb(131, 26, 26);
}

#table tr{
  border-bottom: solid 1px black;
  font-size: 160%;
  color: $myGreen;

}


a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: $orange;
  font-weight: bold;
}


aside {
  display: none;
  height: 500px;
  overflow: scroll;
  margin-top: 1%;
  width: 50%;
}


.error {
  color: rgb(255, 0, 0);
}

.time {
    padding-right: 7px;
}

@media only screen and (max-width: 1100px) {
  aside {
    width: 90%;
  }

#table tr  {
  font-size: 150%;
  }

}

@media only screen and (max-width: 1024px) {
  aside {
    width: 90%;
  }
  #table tr {
    font-size: 140%;
  }
}

@media only screen and (max-width: 400px) {
  aside {
    width: 90%;
  }
  #table tr {
    font-size: 130%;
  }
}
