table {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: row;
}

td {
  padding: 10px 0;
}

#table tr {
  border-bottom: solid 1px black;
  font-size: 160%;
  padding: 10px 0;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color:inherit;
  font-weight: bold;
}

aside {
  display: none;
  height: 500px;
  overflow: scroll;
  margin-top: 1%;
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  aside {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  aside {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  aside {
    width: 90%;
  }
}
